body {
    margin: auto;
    font-family: Trebuchet MS, Tahoma, Verdana, "Segoe UI", Arial, Georgia, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    background-color: #5a6064;
    align-items: center;
    color: #b5bac1;
}


/* CODE FORMATTING */

code_yellowish {
    color: #dcdcaa;
}

code_blue {
    color: #9cdcfe;
}

code_strongblue {
    color: #4ec9b0;
}

code_purplish {
    color: #c586c0;
}

code_darkblue {
    color: #4c86b6;
}

code_quotes {
    color: #ce9178;
}

code_comment {
    color: #6a9955;
}

code_brackets {
    color: #ffb517;
}

line_number {
    color: #FFFFFF;
}

pre {
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
}

.code {
    background: #1e1e1e;
    border-left: 3px solid #f36d33;
    /color: #9cdcfe;
    color: #FFFFFF;
    /page-break-inside: avoid;
    font-family: monospace;
    font-size: 1rem;
    line-height: 1.5rem;
    margin: auto;
    width: 800px;
    /overflow: auto;
    overflow-wrap: anywhere;
    padding: 1rem 0.5rem;
}

variable {
    background: #1e1e1e;
    color: #9cdcfe;
    padding: 0 0.2rem;
}

/* END CODE FORMATTING */